@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-like-blue-main: #003049;
  --color-like-black: #171717;
  --color-like-yellow: #E9C46A;
  --color-like-orange: #F4A261;
  --color-like-red: #E76F51;
  --color-foreground: #2a9d8f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #264653;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}